<nav class="p-2 bg-light">
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link" href="/"
                ><img src="/images/xappia.png" alt="xappia" style="width: 4rem"
            /></a>
        </li>
    </ul>
</nav>
