<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body class="container">
        <header><%- include('../partials/header'); %></header>

        <main
            class="d-flex flex-column justify-content-center align-items-center p-3"
        >
            <h3 class="p-3">Cargar archivo excel</h3>
            <form
                action="/leads/toyota"
                method="post"
                enctype="multipart/form-data"
            >
                <div class="input-group">
                    <input
                        type="file"
                        class="form-control h-100"
                        name="file"
                        aria-label="Upload"
                        required
                    />
                    <button class="btn btn-outline-secondary" type="submit">
                        Cargar
                    </button>
                </div>
            </form>
        </main>

        <footer><%- include('../partials/footer'); %></footer>
    </body>
</html>
