<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body class="container">
        <header><%- include('../partials/header'); %></header>

        <main>
            <div
                class="d-flex flex-column justify-content-center align-items-center p-3"
            >
                <div class="d-flex flex-column mt-5" style="width: 20rem">
                    <a
                        class="btn btn-primary btn-lg"
                        href="/api-docs"
                        role="button"
                        >API</a
                    >
                    <a
                        class="btn btn-success btn-lg mt-4"
                        href="/leads-upload"
                        role="button"
                        >Cargar Excel</a
                    >
                </div>
            </div>
        </main>

        <footer><%- include('../partials/footer'); %></footer>
    </body>
</html>
